main {
  display: flex;
  flex-direction: column;
}
.BoardArea {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.Board {
  padding: 0 2rem;
}
.ButtonArea {
  text-align: center;
}
.ButtonArea button {
  margin: 0.3rem;
  padding: 0.3rem;
  min-width: 5rem;
}

