main {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
}
.ButtonAreaOuter {
   padding: 1rem;
}
.ButtonAreaInner button {
  margin: 0 0.5rem;
}

.BoardArea {
  display: flex;
  text-align: center;
}

.Board {
  padding: 1rem 3rem;
}

