main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  text-align: center;
  padding: 2rem 0;
  background: rgb(238,174,202);
  background: linear-gradient(260deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.icon {
  font-weight: 900;
  padding: 0 0.5rem;
}
header, .BoardArea  {
  padding: 1rem 0;
}
.BoardArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dark {
  background: #2A2C3D;
  color: white;
  transition: background-color 0.7s ease-out;
}

.dark textarea {
  color: white;
}